---
import prod1 from "../images/prod-1.jpg";
import prod2 from "../images/prod-2.jpg";
import prod3 from "../images/prod-3.jpg";
import prod4 from "../images/prod-4.jpg";
import prod5 from "../images/prod-5.jpg";
import prod6 from "../images/prod-6.jpg";
import prod7 from "../images/prod-7.jpg";
import prod8 from "../images/prod-8.jpg";
import prod9 from "../images/prod-9.jpg";
import prod10 from "../images/prod-10.jpg";
import prod11 from "../images/prod-11.jpg";
---

<!-- projects section starts  -->
<section class="projects" id="projects">
    <h1 class="heading">Наша Продукция</h1>

    <div class="box-container">
        <a href={prod1} class="box">
            <div class="image">
                <img src={prod1} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>Анкер канатный АКС</h3>
                    <p>
                        Анкер канатный типа АКС предназначен для крепления
                        капитальных и подготовительных горных выработок, а так
                        же их сопряжений в качестве анкера второго уровня
                        совместно с анкерами первого уровня или рамной крепью, а
                        так же для бесфундаментного крепления оборудования к
                        почве выработок, монтажа монорельсовой подвесной дороги.
                    </p>
                </div>
            </div>
        </a>

        <a href={prod2} class="box">
            <div class="image">
                <img src={prod2} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>
                        Анкерная крепь из винтового профиля А16В, А20B, А22B,
                        А25В
                    </h3>
                    <p>
                        Анкерная крепь из винтового профиля типа АВ
                        предназначена для крепления кровли, бортов и почвы
                        горных выработок шахт и рудников. Закрепление анкера в
                        шпуре осуществляется химическим способом с помощью ампул
                        на основе полиэфирных смол или минеральных композиций.
                    </p>
                </div>
            </div>
        </a>

        <a href={prod3} class="box">
            <div class="image">
                <img src={prod3} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>Анкерная крепь трубчатая фрикционная АТФ-39-49</h3>
                    <p>
                        Анкерная крепь трубчатая фрикционная АТФ применяется для
                        крепления бортов и кровли горных выработок шахт и
                        рудников. Закрепление анкера осуществляется путем
                        установки его в шпур меньшего диаметра, чем диаметр
                        анкера, что вызывает передачу усилия от тела анкера на
                        стенки шпура за счет упругих свойств металла.
                    </p>
                </div>
            </div>
        </a>

        <a href={prod4} class="box">
            <div class="image">
                <img src={prod4} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>
                        Анкерная крепь из винтового профиля с химическим
                        закреплением в скважинах АК20, АК22
                    </h3>
                    <p>
                        Анкерная крепь из винтового профиля типа АК
                        предназначена для крепления кровли, бортов и почвы
                        горных выработок шахт и рудников. Закрепление анкера в
                        шпуре осуществляется химическим способом с помощью ампул
                        на основе полиэфирных смол или минеральных композиций.
                    </p>
                </div>
            </div>
        </a>

        <a href={prod5} class="box">
            <div class="image">
                <img src={prod5} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>
                        Замок ЗПК для СВП-17, СВП-22, СВП-27, СВП-33 (с фигурной
                        планкой, выштампованной из полосы толщиной 12 мм, 16 мм)
                    </h3>
                    <p>
                        Применение в арочных и трапециевидных крепях замков ЗПК,
                        ЗПК-1, ЗПК-2 позволяет обеспечить надежность работы и
                        постоянное или возрастающее сопротивление крепи в
                        податливом режиме, за счет повышения несущей способности
                        крепи – снизить плотность установки крепи в горных
                        выработках, добиться сокращения расхода металла.
                    </p>
                </div>
            </div>
        </a>

        <a href={prod6} class="box">
            <div class="image">
                <img src={prod6} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>
                        Замок ЗПП для СВП-17; 22; 27; 33 (с прямой планкой из
                        боковины профиля СВП)
                    </h3>
                    <p>
                        Применение в арочных и трапециевидных крепях замков ЗПП
                        позволяет обеспечить надежность работы и постоянное или
                        возрастающее сопротивление крепи в податливом режиме, за
                        счет повышения несущей способности крепи – снизить
                        плотность установки крепи в горных выработках, добиться
                        сокращения расхода металла.
                    </p>
                </div>
            </div>
        </a>
        <a href={prod7} class="box">
            <div class="image">
                <img src={prod7} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>Межрамная стяжка (распора) для арочной крепи</h3>
                    <p>
                        Межрамная стяжка (распора) предназначена для соединения
                        рядом стоящих рам крепи с целью придания им
                        устойчивости.
                    </p>
                </div>
            </div>
        </a>

        <a href={prod8} class="box">
            <div class="image">
                <img src={prod8} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>Кровельная планка (штрипс)</h3>
                    <p>
                        Кровельная планка (штрипс) применяется в составе
                        анкерной крепи в сочетании с различными видами затяжки
                        (металлической сетки, или решетки деревянной при сроке
                        службы выработок не более 3-х лет). Число анкеров на
                        один штрипс или подхват определяется расчетами плотности
                        установки крепи.
                    </p>
                </div>
            </div>
        </a>
        <a href={prod9} class="box">
            <div class="image">
                <img src={prod8} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>
                        Подхват шахтный (Верхняк) ПШ-8, ПШ-10, СВП-17, СВП-22,
                        СВП-27
                    </h3>
                    <p>
                        Подхват шахтный (Верхняк) применяется совместно с
                        анкерной крепью в качестве поддерживающего элемента для
                        крепления кровли и бортов подземных горных выработок.
                        Верхняк применяется совместно с анкерной крепью в
                        качестве поддерживающего элемента (подхвата) для
                        крепления кровли и бортов подземных горных выработок.
                    </p>
                </div>
            </div>
        </a>
        <a href={prod10} class="box">
            <div class="image">
                <img src={prod10} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>Конвейерный став</h3>
                    <p>
                        Став конвейера — несущая конструкция конвейера,
                        предназначенная для поддержания и перемещения верхней и
                        нижней ветвей ленты между приводом и концевой секцией. В
                        жёстких ставах конвейера роликоопоры для поддержания
                        верхней и нижней ветвей ленты устанавливаются на жёсткие
                        несущие элементы. Жёсткий став выпускается в
                        надпочвенном исполнении. Конструкция обеспечивает
                        возможность подвешивания к кровле шахт.
                    </p>
                </div>
            </div>
        </a>
        <a href={prod11} class="box">
            <div class="image">
                <img src={prod11} alt="" />
            </div>
            <div class="content">
                <div class="info">
                    <h3>Рештак</h3>
                    <p>
                        Рештак — металлический секционный желоб, по которому
                        осуществляется транспортировка горной массы, имеет
                        специальные направляющие для движущихся частей — цепи и
                        скребков. Рештак предназначен для комплектации
                        скребковых конвейеров, которые эксплуатируются при
                        доставке угля горной массы по участковым выработкам и
                        очистным забоям.
                    </p>
                </div>
            </div>
        </a>
    </div>
</section>

<!-- projects section ends -->
<style>
    .projects {
        background: var(--black);
    }

    .projects .heading {
        color: var(--white);
    }

    .projects .box-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 2rem;
    }

    .projects .box-container .box {
        cursor: initial;
    }

    .projects .box-container .box:hover .image img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .projects .box-container .box .image {
        height: 40rem;
        overflow: hidden;
    }

    .projects .box-container .box .image img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: 0.2s linear;
        transition: 0.2s linear;
    }

    .projects .box-container .box .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: var(--white);
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .projects .box-container .box .content .info {
        padding: 1rem 2rem;
    }

    .projects .box-container .box .content .info h3 {
        font-size: 1.7rem;
        color: var(--black);
        text-transform: capitalize;
    }

    .projects .box-container .box .content .info p {
        font-size: 1.5rem;
        color: var(--light-color);
        line-height: 2;
    }

    .projects .box-container .box .content i {
        width: 7.5rem;
        font-size: 3rem;
        background: var(--yellow);
        color: var(--white);
        cursor: pointer;
        text-align: center;
        line-height: 7.5rem;
    }
</style>
